pkgbase = obs-ndi-bin
	pkgdesc = Newtek NDI Support for OBS
	pkgver = 4.9.1
	pkgrel = 1
	url = https://github.com/Palakis/obs-ndi
	arch = x86_64
	license = GPL2
	depends = obs-studio>=27.0.0
	source = https://github.com/Palakis/obs-ndi/releases/download/4.9.1/obs-ndi_4.9.1-1_amd64.deb
	sha512sums = 1cb7f1e61f1c5e42c1e6950fdf0aeef0f2c9a790e270b3ede1a17bd9b627494bd694aba4d4c0f428de4c8864ccf91d5108bfb1d8a5d3bc7477320e7523aeeea6

pkgname = obs-ndi-bin
